h3 {
    margin-bottom: 0.75rem;
}

.home {
    padding-left: 5rem;
    padding-top: 6rem;
    padding-right: 5rem;
    padding-bottom: 6rem;
    font-size: 2.5rem;
}

.home-banner {
    text-align: center;
}

.home-title {
    font-weight: bold;
    font-size: 4rem;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline: 0;
    margin-inline-end: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.home-description {
    font-size: 1.5rem;
    margin-inline: 7.5rem;
    margin-top: 0;
}

.about {
    font-size: 2.5rem;
    margin-inline: 15rem;
    margin-block: 2rem;
}

.text-div {
    flex: 1;
    display: inline;
}

.about-text {
    display: flex;
    flex-direction: row;
}

.about-title-picture-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.about-title {
    display: flex;
    flex: 1;
    margin-bottom: 3rem;
    margin-block: 1rem;
}

.about-image {
    flex: 1;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.about-description-div {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.about-description {
    font-weight: normal;
    font-size: 1.5rem;
    margin-inline: 1rem;
    margin-block: 1rem;
}

.projects {
    font-size: 2.5rem;
    padding-top: 0;
    margin-inline: 15rem;
}

.relavent-courses {
    margin-inline: 15rem;
}

